/*
 * arch/arm64/boot/dts/intel/axm5606-emu.dts
 *
 * Copyright (C) 2013 LSI
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;

#include "axm56xx.dtsi"
#include "axm5606-cpus.dtsi"

/ {
	model = "AXM56xx Emulation";
	compatible = "lsi,axm5616";

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0x40000000>;
	};

	mmc_3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	soc {
	};
};

&serial0 {
	status = "okay";
};

&nemac {
	status = "okay";
	phy-handle = <&phy0>;
};

&mdio {
	status = "okay";
	lsi,mdio-clk-offset = <0x5>;
	lsi,mdio-clk-period = <0xc>;
	max-speed = <10>;

	phy0: ethernet-phy@3 {
		reg = <0x3>;
	};
};
&mtc {
	status = "okay";
};
