/*
 * arch/arm64/boot/dts/intel/axm5608-sim.dts
 *
 * Copyright (C) 2013 Intel
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;

#include "axm56xx.dtsi"
#include "axm5608-cpus.dtsi"

/ {
	model = "AXM56xx Simulator";
	compatible = "lsi,axm5616";

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0 0x40000000>;
	};

	mmc_3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	soc {
		virtio_block@8021000000 {
			compatible = "virtio,mmio";
			reg = <0x80 0x21000000 0 0x10000>;
			interrupts = <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>;
		};

		vmfs@8021010000 {
			compatible = "arm,messagebox";
			reg = <0x80 0x21010000 0 0x1000>;
			interrupts = <GIC_SPI 278 IRQ_TYPE_LEVEL_HIGH>;
		};
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&serial3 {
	status = "okay";
};

&nemac {
	status = "okay";
	phy-handle = <&phy0>;
};

&mdio {
	status = "okay";
	lsi,mdio-clk-offset = <0x5>;
	lsi,mdio-clk-period = <0xc>;
	max-speed = <10>;

	phy0: ethernet-phy@3 {
		reg = <0x3>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi0 {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "s25fl016k";
		reg = <0>;
		spi-max-frequency = <25000000>;
		pl022,com-mode = <1>;

		partition@0 {
			label = "spl-0";
			reg = <0x0 0x40000>;
		};
		partition@40000 {
			label = "spl-1";
			reg = <0x40000 0x40000>;
		};
		partition@80000 {
			label = "parameters-0";
			reg = <0x80000 0x10000>;
		};
		partition@90000 {
			label = "parameters-1";
			reg = <0x90000 0x10000>;
		};
		partition@a0000 {
			label = "env-0";
			reg = <0xa0000 0x10000>;
		};
		partition@b0000 {
			label = "env-1";
			reg = <0xb0000 0x10000>;
		};
		partition@100000 {
			label = "u-boot-0";
			reg = <0x100000 0x200000>;
		};
		partition@300000 {
			label = "u-boot-1";
			reg = <0x300000 0x200000>;
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&gpdma0 {
	status = "okay";
};

&gpdma1 {
	status = "okay";
};
&pci0 {

	status = "okay";
};

&pci1 {
	status = "okay";
};

&pci2 {
	status = "okay";
};

&usb0 {
	status = "okay";
};
