/*
 * arch/arm64/boot/dts/intel/axm5604-sim.dts
 *
 * Copyright (C) 2013 LSI
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;

#include "axm56xx.dtsi"
#include "axm5604-cpus.dtsi"

/ {
	model = "AXM56xx Simulator";
	compatible = "lsi,axm5616";

	memory {
		device_type = "memory";
		reg = <0 0x00000000 0x40000000>;
	};

	mmc_3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	soc {
		virtio_block@8021000000 {
			compatible = "virtio,mmio";
			reg = <0x80 0x21000000 0x10000>;
			interrupts = <GIC_SPI 279 IRQ_TYPE_LEVEL_HIGH>;
		};

		vmfs@8021010000 {
			compatible = "arm,messagebox";
			reg = <0x80 0x21010000 0x1000>;
			interrupts = <GIC_SPI 278 IRQ_TYPE_LEVEL_HIGH>;
		};

		ethernet@8020000000 {
			compatible = "smsc,lan91c111";
			reg = <0x80 0x20000000 0x1000000>;
			interrupts = <GIC_SPI 280 IRQ_TYPE_LEVEL_HIGH>;
			phy-mode = "mii";
			reg-io-width = <4>;
			smsc,irq-active-high;
			smsc,irq-push-pull;
		};

		amba {
			mmci@8021030000 {
				compatible = "arm,pl18x", "arm,primecell";
				reg = <0x80 0x21030000 0x10000>;
				interrupts = <GIC_SPI 281 IRQ_TYPE_LEVEL_HIGH>,
					     <GIC_SPI 282 IRQ_TYPE_LEVEL_HIGH>;
				vmmc-supply = <&mmc_3v3>;
				vqmmc-supply = <&mmc_3v3>;
				clocks = <&clks 0>, <&clks 1>;
				clock-names = "apb_pclk", "mmc_clk";
			};
		};
	};
};

&serial0 {
	status = "okay";
};

&serial1 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&serial3 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi0 {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "s25fl016k";
		reg = <0x0>;
		spi-max-frequency = <25000000>;
		pl022,com-mode = <1>;

		partition@0 {
			label = "bl2a";
			reg = <0x0 0x40000>;
		};
		partition@40000 {
			label = "bl2b";
			reg = <0x40000 0x40000>;
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&gpdma0 {
	status = "okay";
};

&gpdma1 {
	status = "okay";
};
&pci0 {

	status = "okay";
};

&pci1 {
	status = "okay";
};

&pci2 {
	status = "okay";
};

&usb0 {
	status = "okay";
};
