/*
 *  Copyright (C) 2015 Xilinx
 *  Copyright (C) 2015 WindRiver Corp.
 *
 * This software is licensed under the terms of the GNU General Public
 * License version 2, as published by the Free Software Foundation, and
 * may be copied, distributed, and modified under those terms.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
/include/ "zynq-mini-itx.dtsi"

/ {
	compatible = "xlnx,zynq-7000", "xlnx,mini-itx";

	fpag-axi@0 {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		ranges;

		i2c@41600000 {
			compatible = "xlnx,axi-iic-1.02.a", "xlnx,xps-iic-2.00.a";
			status = "okay";
			clocks = <&clkc 15>;
			interrupt-parent = <&intc>;
			interrupts = <0 58 4>;
			reg = <0x41600000 0x10000>;
			bus-id = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mux@70 {
				compatible = "pca9548";
				reg = <0x70>;
				#address-cells = <1>;
				#size-cells = <0>;

				i2c@0 {
					#size-cells = <0>;
					#address-cells = <1>;
					reg = <0>;

					rtc@68 {
						compatible = "dallas,ds1337";
						reg = <0x68>;
					};
				};

				i2c@1 {
					#size-cells = <0>;
					#address-cells = <1>;
					reg = <1>;

					adv7511: adv7511@39 {
						compatible = "adi,adv7511";
						reg = <0x39>;

						adi,input-depth = <8>;
						adi,input-colorspace = "yuv422";
						adi,input-clock = "1x";
						adi,input-style = <3>;
						adi,input-justification = "right";
						adi,clock-delay = <0x03>;
					};
				};

				i2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;
					eeprom@50 {
						compatible = "at,24c08";
						reg = <0x50>;
					};
				};

				i2c@5 {
					#size-cells = <0>;
					#address-cells = <1>;
					reg = <5>;
					adau1761: adau1761@3b {
						compatible = "adi,adau1761";
						reg = <0x3b>;
					};
				};
			};

		};

		axi_vdma_0: axivdma@43000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			#dma-cells = <1>;
			compatible = "xlnx,axi-vdma";
			reg = <0x43000000 0x1000>;
			xlnx,include-sg = <0x0>;
			xlnx,num-fstores = <0x3>;
			dma-channel@43000000 {
				compatible = "xlnx,axi-vdma-mm2s-channel";
				interrupts = <0 59 0x4>;
				xlnx,datawidth = <0x40>;
				xlnx,genlock-mode = <0x0>;
				xlnx,include-dre = <0x0>;
			};
		};

		hdmi_clock: axi-clkgen@79000000 {
			compatible = "adi,axi-clkgen-2.00.a";
			reg = <0x79000000 0x10000>;
			#clock-cells = <0>;
			clocks = <&clkc 16>;
		};

		axi_hdmi@70e00000 {
			compatible = "adi,axi-hdmi-tx-1.00.a";
			reg = <0x70e00000 0x10000>;
			encoder-slave = <&adv7511>;
			dmas = <&axi_vdma_0 0>;
			dma-names = "video";
			clocks = <&hdmi_clock>;
			adi,is-rgb;
		};

		audio_clock: audio_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12288000>;
		};

		axi_spdif_tx_0: axi-spdif-tx@0x75c00000 {
			compatible = "adi,axi-spdif-tx-1.00.a";
			reg = <0x75c00000 0x1000>;
			dmas = <&dmac_s 0>;
			dma-names = "tx";
			clocks = <&clkc 15>, <&audio_clock>, <&audio_clock>;
			clock-names = "axi", "ref", "spdif";
		};

		adv7511_hdmi_snd: adv7511_hdmi_snd {
			compatible = "adv7511-hdmi-snd";
			audio-codec = <&adv7511>;
			cpu-dai = <&axi_spdif_tx_0>;
		};

		axi_i2s_0: axi-i2s@0x77600000 {
			compatible = "adi,axi-i2s-1.00.a";
			reg = <0x77600000 0x1000>;
			dmas = <&dmac_s 1 &dmac_s 2>;
			dma-names = "tx", "rx";
			clocks = <&clkc 15>, <&audio_clock>, <&audio_clock>;
			clock-names = "axi", "ref", "i2s";
		};

		zed_sound {
			compatible = "digilent,zed-sound";
			audio-codec = <&adau1761>;
			cpu-dai = <&axi_i2s_0>;
		};

	};
};

&clkc {
	fclk-enable = <0xf>;
	ps-clk-frequency = <33333333>;
};
